/* Font ---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/*Global------------------------------------------*/
body{
    background-color: #161616!important;
}
h1{
    font-weight: bold;
}
*{  color:white;
    font-family: 'Inter', sans-serif;
}

img.imgline{
    max-height: 50px;
    max-width: 20px;
    min-height: 5px;
    min-width: 5px;
}

/* Nav Bar*/
@media screen and (min-width:601px) {
    #soulace{
        display: inline;
        max-height: 60px;
    }
   hr{
    border-top: 1px solid white;
    width: 10vw;
    margin-right: 10px;
  }
}
@media screen and (max-width: 600px) {
    #soulace{
        display: inline;
        max-height: 40px;
    }
   
}

.nav-item:hover .nav-link,
.nav-item:focus .nav-link{
    text-decoration: underline;
}

/* Banner Section------------------------------------ */
#banner{
    background-image:linear-gradient(180deg,#161616, transparent, #161616), url("/images/banners/about-us/banner.png");
    background-size: cover;
    height: 100;
    color: black;
}

/* Footer ---------------------------*/
#newsletter{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.footer-link{
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-decoration: transparent;
    
}
@media screen and (min-width: 600px) {
    #footer-links{
        margin-left: 30px;
     }
    
}
@media screen and (max-width: 992px) {
    #footer-links{
       text-align: center; 
    }
    #logo{
        text-align: center;
    }
}
.reserved{
    border-top: 1px solid white;
}
#policy{
    float:left;
    text-align: left;
}
#soulrights{
    float: right;
    text-align: right;
}