/* Font ---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/*Global------------------------------------------*/
body{
    background-color: #161616;
}
h1{
    font-weight: bold;
}

*:not(option) {
    color:white;
    font-family: 'Inter', sans-serif;
}

/* Step Bar */
.step {
    position: relative;
    min-height: 1em;
    color: gray;
}
.title {
    line-height: 1.5em;
    font-weight: bold;
}

.step + .step {
    margin-top: 1.5em
}
.step > div:first-child {
    position: static;
    height: 0;
}
.step > div:not(:first-child) {
    margin-left: 1.5em;
    padding-left: 1em;
}
/* Circle */
.circle {
    background: gray;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 0 3px #fff;
}
/* Vertical Line */
.circle:after {
    content: ' ';
    position: absolute;
    display: block;
    right: 50%;
    bottom: 1px;
    left: 50%;
    height: 112.5%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: -1;
}

.circle:not(.extend-circle):after {
    top: 1px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
}

.step:last-child .circle:after {
    display: none
}
.step.step-active {
    color: #4285f4
}
.step.step-active .circle {
    background-color: #4285f4;
}

/* Sections */
.sectionhide{
    display: none;
}
/*option{
    color:black;
}*/

/* Footer */
#policy{
    float:left;
    text-align: left;
}
#soulrights{
    float: right;
    text-align: right;
}