/* Mega Menu */
@media(max-width: 991px){
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
      overflow-y: auto;
        max-height: 90vh;
        margin-top:10px;
    }

  }
  .navbar .megamenu{ padding: 1rem; }

@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

  #services_nav{
    border-right: 1px solid gray;
    }
}

.megamenu {
    top: 70%!important;
}

.nav-serv{
    cursor: pointer;
}
.nav-serv .card{
    background-color: white;
}
.nav_serv .card-img-overlay{
    display: none;
    text-align: center;
    transition: all .5s;
    /*margin-top: 10%;*/
    height: 33.33333333333333%;
    background-color: rgba(52, 73, 94, 0.75);
    border-radius: 0;
    /*FIX HIEHGT AND ALIGNMENT OF OVERLAYS*/
}
.nav_serv:hover .card-img-overlay,
.nav_serv:focus .card-img-overlay,
.nav_serv:active .card-img-overlay{
   display: flex;
}