/* Font ---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/*Global------------------------------------------*/
body{
	background-image: url("/images/banners/login/banner.png");
}
h1{
	font-weight: bold;
}
*{  color:white;
	font-family: 'Inter', sans-serif;
}

/* Login Form */
@media screen and (min-width:993px)  {
	#login_form{
		border-right: 1px solid white;
	}
}

div.align-right{
	float: right;
	text-align: right;
}
h1#tagline{
	font-weight: bold;
	font-size: 5vw;
}
#alive{
	background-color: white;
	background-image: linear-gradient(45deg, #FF8000, #FFE600);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
}

/* footer */

#footer_policy{
	border-top: 1px solid white;
}

.bg-transparent-all,
.bg-transparent-all *,
.bg-transparent-all *:focus {
	background-color: transparent;
	color: white;
}

.bg-transparent-all::placeholder, 
.bg-transparent-all:-ms-input-placeholder,
.bg-transparent-all::-ms-input-placeholder  {
	color: white!important;
	opacity: 1;
}

.bw-thick {
	border-width: 2.5px;
	border-radius:12.5px;
}

.white-checkbox:checked {
	background-color: transparent0;
}

.br-25 {
	border-radius: 25px;
}