/* Font ---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/*Global------------------------------------------*/
body{
    background-color: #161616!important;
}
h1{
    font-weight: bold;
}
*:not(svg *){  color:white;
    font-family: 'Inter', sans-serif;
}

.nav-icons svg {
    color: white;
}

/* Nav Bar*/
@media screen and (min-width:601px) {
    #soulace{
        display: inline;
        max-height: 60px;
    }
   hr{
    border-top: 1px solid white;
    width: 10vw;
    margin-right: 10px;
  }
}
@media screen and (max-width: 600px) {
    #soulace{
        display: inline;
        max-height: 40px;
    }
   
}

.nav-item:hover .nav-link,
.nav-item:focus .nav-link{
    text-decoration: underline;
}

/* account and tracking nav */
.active span::before {
    display: block;
    border-top: 2px solid white;
    content: "";
    width: 25%;
}

/* Order Info */
.itemrow p,
.itemrow small,
.itemrow b,
.itemrow h5,
.itemrow h4{
    color:black;
}
div.right-align-items{
    float: right;
    text-align: right;
}

@media screen and (min-width:769px) {
    #order_info{
        border-right: 1px solid gray;
    }
}

.order_items{
    border-bottom: 2px solid gray;
}

/* steps image */
.step-icon img{
    height: 55px;
    width: 55px;
}
.labels{
    margin-top: 25px;
}

/* "to" menu */

.step-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-progress > .component {
    width: 82.5%;
    display: flex;
    flex-direction: column;
}

/*BAR*/

.step-progress > .component > .bar {       
    width: 100%;
    display: flex;
    flex-direction: row;
}

.step-progress > .component > .bar > .bar-progress {
    border-color: #28AD00;
    border-width: 0.5rem;
    margin-left: 0.25rem;
}

.step-progress > .component > .bar > .bar-remaining {
    border-color: #707070;
    border-width: 0.5rem;
    margin-right: 0.25rem;
}

.step-progress > .component > .steps {    /*STEPS*/
    position: absolute;
    display: flex;
    flex-direction: row;
}

.step-progress > .component > .steps > .step-icon {
    display: flex;
    flex-direction: column;
    color: #707070;
}

.step-progress > .component > .steps > .step-icon.active {
    color: #28AD00;
}

.step-progress > .labels {    /*LABELS*/
    width:  100%;
    display: flex;
    flex-direction: row;
}

.step-progress > .labels > .step-label {
    text-align: center;
}


/* Footer ---------------------------*/
#newsletter{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.footer-link{
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-decoration: transparent;
    
}
@media screen and (min-width: 600px) {
    #footer-links{
        margin-left: 30px;
     }
    
}
@media screen and (max-width: 992px) {
    #footer-links{
       text-align: center; 
    }
    #logo{
        text-align: center;
    }
}
.reserved{
    border-top: 1px solid white;
}
#policy{
    float:left;
    text-align: left;
}
#soulrights{
    float: right;
    text-align: right;
}