/* Font ---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/*Global------------------------------------------*/
body{
	background-color: #161616!important;
}
h1{
	font-weight: bold;
}
*:not(svg *){  color:white;
	font-family: 'Inter', sans-serif;
}

.nav-icons svg {
	color: white;
}

/* Nav Bar*/
@media screen and (min-width:601px) {
	#soulace{
		display: inline;
		max-height: 60px;
	}
   hr{
	border-top: 1px solid white;
	width: 10vw;
	margin-right: 10px;
  }
}
@media screen and (max-width: 600px) {
	#soulace{
		display: inline;
		max-height: 40px;
	}
   
}

.nav-item:hover .nav-link,
.nav-item:focus .nav-link{
	text-decoration: underline;
}


/* Orders -----------------------*/
.active span::before {
    display: block;
	border-top: 2px solid white;
	content: "";
	width: 25%;
}
.itemrow{
	overflow: auto;
}

.itemrow p,
.itemrow small,
.itemrow b,
.itemrow h5,
.itemrow h4{
	color:black;
}

div.right-align-items{
	float: right;
	text-align: right;
}

hr.dotted{
	color: transparent;
	border-style: none;
	border-top: 2px dashed black;
	width: auto;
}
hr.solid{
	border: 1px solid black;
	width: auto;
}



/* Footer ---------------------------*/
#newsletter{
	border-left: 1px solid white;
	border-right: 1px solid white;
}
.footer-link{
	font-weight: bold;
	font-size: 14px;
	color: white;
	text-decoration: transparent;
	
}
@media screen and (min-width: 600px) {
	#footer-links{
		margin-left: 30px;
	 }
	
}
@media screen and (max-width: 992px) {
	#footer-links{
	   text-align: center; 
	}
	#logo{
		text-align: center;
	}
}
.reserved{
	border-top: 1px solid white;
}
#policy{
	float:left;
	text-align: left;
}
#soulrights{
	float: right;
	text-align: right;
}