body {
	-webkit-print-color-adjust: exact; 
	font-family: 'Arial';
	background-color: #ffffff;
}

@media print {
	* {
		color: inherit !important;
		background: inherit !important;
    }
	
    @page { 
		margin: 0.11in;  
		size: letter portrait;
	}
	
    .no-print, .no-print * {
		display: none !important;
	}
	
    body { 
	   -webkit-print-color-adjust: exact; 
    }

    .name-text {
    	-webkit-print-color-adjust: exact; 
    	color: #632f92 !important;
    }
}

.table.table-print, .table.table-print td {
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}