/* Font ---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/*Global------------------------------------------*/
body{
    background-image: url("/images/banners/register/banner.png");
    background-size: cover;
}
h1{
    font-weight: bold;
}
*{  color:white;
    font-family: 'Inter', sans-serif;
}



/* Form */

@media screen and (min-width:992px) {
    h1{
        font-size: 3vw;
    }
}

.highlighted{
    background-color: white;
    background-image: linear-gradient(45deg, #FF8000, #FFE600);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

#register_form {
    display: block;
    padding: 8px;
    background: #fff; /* fallback color for old browsers */
    background: rgba(255, 255, 255, 0.137);
    color: #fff;
   
  }


/* footer */
.important:after {
	content: " *";
	color: white;
}
.validation-message {
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: break-spaces;
}