/* Font ---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/*Global------------------------------------------*/
body{
    background-color: #161616!important;
}
h1{
    font-weight: bold;
}
*{  color:white;
    font-family: 'Inter', sans-serif;
}

/* Nav Bar*/
@media screen and (min-width:601px) {
    #soulace{
        display: inline;
        max-height: 60px;
    }
   
}
@media screen and (max-width: 600px) {
    #soulace{
        display: inline;
        max-height: 40px;
    }
   
}
/* Banner */
#banner{
    background-image:linear-gradient(180deg,#161616, transparent, #161616), url("/images/banners/services/obituary/banner.png");
    background-size: cover;
    height: 100vh;
    color: black;
}


@media screen and (min-width: 601px) {
    #bannertext h1{
        font-weight: bold;
        font-size: 5vw;
    }
  } 


/* Obituary Names */
.lead{
    text-align: center;
}
.obname{
    color:black;
}
.obituarycard{
    margin: auto;
    background-color: white;
    color:black;
    transition: 0.125s;
}

.obituarycard:hover {
    box-shadow: 0px 0px 10px #FFFFFFFF;
}

@media screen and (max-width: 600px) {
    #obituary{
        text-align: center;
    }
    .obituarycard{
        margin: auto;
        background-color: white;
        color:black;
    }
    .mark{
        display: none;
    }
    #see_obituaries{
        float: none;
        align-items: center;
    }
  }
@media screen and (max-width: 992px) {
    .mark{
        display: none;
    }
    #see_obituaries{
        float: none;
        align-items: center;
    }
}
@media screen and (min-width:768px) {
    .fillimg{
        max-height: 300px;
        justify-content: center;
        align-items: center;
      
    }
    .mark{
        display:flex;
        float:right;
        margin-right: 10px;
        max-height: 250px;
        max-width: 150px;
    }
    .obituarycard{
        margin-top: 50px;
    }
    #see_obituaries{
        float: right;
    }
}

/* Footer ---------------------------*/
#newsletter{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.footer-link{
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-decoration: transparent;
    
}
@media screen and (min-width: 600px) {
    #footer-links{
        margin-left: 30px;
     }
    
}
@media screen and (max-width: 992px) {
    #footer-links{
       text-align: center; 
    }
    #logo{
        text-align: center;
    }
}
.reserved{
    border-top: 1px solid white;
}
#policy{
    float:left;
    text-align: left;
}
#soulrights{
    float: right;
    text-align: right;
}