
/* Font ---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/*Global------------------------------------------*/
body{
    background-color: #161616!important;
}
h1{
    font-weight: bold;
}
*{  color:white;
    font-family: 'Inter', sans-serif;
}
.card{
    background-color: black;
}
img.imgline{
    max-height: 50px;
    max-width: 20px;
    min-height: 5px;
    min-width: 5px;
}

/* Nav Bar*/
@media screen and (min-width:601px) {
    #soulace{
        display: inline;
        max-height: 60px;
    }
   
}
@media screen and (max-width: 600px) {
    #soulace{
        display: inline;
        max-height: 40px;
    }
   
}


/* Banner Section------------------------------------ */
#banner{
    background-image:linear-gradient(180deg,#161616, transparent, #161616), url("/images/banners/services/banner.png");
    background-size: cover;
    height: 100vh;
    color: black;
}


@media screen and (min-width: 601px) {
    #bannertext h1{
        font-weight: bold;
        font-size: 5vw;
    }
  }

  /* Accordion */

.accordion-body{
    background-color: #161616;
}
.accordion-header{
    overflow: hidden;
}
#funeral{
    background-image: url("/images/banners/services/services1.png");
    height: 395px;
    background-position: center;
    background-size: cover;
}
#cremation{
    background-image: url("/images/banners/services/services2.png");
    height: 395px;
    background-position: center;
    background-size: cover;
}
#burial{
    background-image: url("/images/banners/services/services3.png");
    height: 395px;
    background-position: center;
    background-size: cover;
}
#memorial{
    background-image: url("/images/banners/services/services4.png");
    height: 395px;
    background-position: center;
    background-size: cover;
}
.title_head{
    margin: auto;
    text-align: center;
    padding-top: 150px;
    display: none;
 
}
.floral{
    text-align: center;
    margin: auto;
   display: none;
   
}
.textserv{
    background-color: rgba(52, 73, 94, 0.75);
    height: 100%;
  width: 100%;
  display: none;
}

.accordion-header .acc_pic {
    transition: all .5s;
}

.accordion-header:hover .acc_pic,
.accordion-header:focus .acc_pic ,
.accordion-header:active .acc_pic{
    transform: scale(1.5);
}
.accordion-header:hover .textserv,
.accordion-header:focus .textserv,
.accordion-header:active .textserv{
   display: block;
}
.accordion-header:hover .title_head,
.accordion-header:focus .title_head,
.accordion-header:active .title_head{
   display: block;
}
.accordion-header:hover .floral,
.accordion-header:focus .floral,
.accordion-header:active .floral{
   display: block;
  
}
 /* Footer ---------------------------*/
#newsletter{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.footer-link{
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-decoration: transparent;
    
}
@media screen and (min-width: 600px) {
    #footer-links{
        margin-left: 30px;
     }
    
}
@media screen and (max-width: 992px) {
    #footer-links{
       text-align: center; 
    }
    #logo{
        text-align: center;
    }
}
.reserved{
    border-top: 1px solid white;
}
#policy{
    float:left;
    text-align: left;
}
#soulrights{
    float: right;
    text-align: right;
}