/* Font ---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/*Global------------------------------------------*/
body {
    background-color: #161616!important;
}

h1 {
    font-weight: bold;
}

*:not(svg *) {
    color: white;
    font-family: 'Inter', sans-serif;
}

/* Nav Bar*/
@media screen and (min-width:601px) {
    #soulace{
        display: inline;
        max-height: 60px;
    }
   hr{
    border-top: 1px solid white;
    width: 10vw;
    margin-right: 10px;
  }
}
@media screen and (max-width: 600px) {
    #soulace{
        display: inline;
        max-height: 40px;
    }
   
}

.nav-item:hover .nav-link,
.nav-item:focus .nav-link{
    text-decoration: underline;
}
/* Banner Section------------------------------------ */
#banner{
    background-image:linear-gradient(180deg,#161616, transparent, #161616), url("/images/banners/store/banner.png");
    background-size: cover;
    height: 100;
    color: black;
}

/* Store Front */
.headbutton{
    display: block;
    background: #fff; /* fallback color for old browsers */
    color: black;
    text-align: center;
    padding-top: 17px;
    text-decoration: none;
    height: 68px;
    font-weight: bold;
    font-size: large;
}

#storefront{
    background-image: url("/images/banners/store/show/store_banner.png");
    background-position: center;
    background-size: cover;
    height:500px;
}
#itemhr{
    width: 100%;
}

/* Cards ----------------*/
.card-body h5{
    color:black;
    font-weight: bold;
}
.card-body del{
    color:black;
}
.card-body h4{
    color: black;
    font-weight: bold;
}
.gold{
    color: #FF8000;
}
.card-img-overlay{
    display: none;
    background-color: rgba(52, 73, 94, 0.75);
}
.card-body:hover .card-img-overlay,
.card-body:focus .card-img-overlay,
.card-body:active .card-img-overlay{
   display: flex;
   transition: all .5s;
}
@media screen and (min-width:601px){
    .card-img-overlay{
        padding-top: 10%;
    }
}

/* Footer ---------------------------*/
#newsletter{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.footer-link{
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-decoration: transparent;
    
}
@media screen and (min-width: 600px) {
    #footer-links{
        margin-left: 30px;
     }
    
}
@media screen and (max-width: 992px) {
    #footer-links{
       text-align: center; 
    }
    #logo{
        text-align: center;
    }
}
.reserved{
    border-top: 1px solid white;
}
#policy{
    float:left;
    text-align: left;
}
#soulrights{
    float: right;
    text-align: right;
}

.hover-fx-pagination, .hover-fx-pagination * {
    transition: 0.125s;
}
.hover-fx-pagination:hover, .hover-fx-pagination:hover * {
    color: #909090;
}