/* Font ---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/*Global------------------------------------------*/
body{
    background-color: #161616!important;
}
h1{
    font-weight: bold;
}
*{  color:white;
    font-family: 'Inter', sans-serif;
}

/* Nav Bar*/
@media screen and (min-width:601px) {
    #soulace{
        display: inline;
        max-height: 60px;
    }
   
}
@media screen and (max-width: 600px) {
    #soulace{
        display: inline;
        max-height: 40px;
    }
   
}
/* Banner Section------------------------------------ */
  
.semi-transparent-button {
    display: block;
    padding: 8px;
    background: #fff; /* fallback color for old browsers */
    background: rgba(255, 255, 255, 0.137);
    color: #fff;
    text-align: center;
    text-decoration: none;
    height: 68px;
    
  }
.btn{
    font-weight: bold;
}

#banner{
    background-image:linear-gradient(180deg,#161616, transparent, #161616), url("/images/banners/store/banner.png");
    background-size: cover;
    height: 100;
    color: black;
}


#code{
    padding-top: 0;
    font-size: 10px;
}

@media screen and (min-width: 601px) {
    #bannertext h1{
        font-weight: bold;
        font-size: 5vw;
    }
  }
@media screen and (max-width:768px) {
    .semi-transparent-button {
        margin-top: 5px;
      }
}
/*Cards --------------------------------*/

.card-img-overlay{
    display: none;
   padding-top: 50%;
    background-color: rgba(52, 73, 94, 0.75);
}
.card-img{
    width: 100%;
}
.cardstore:hover .card-img-overlay,
.cardstore:focus .card-img-overlay,
.cardstore:active .card-img-overlay{
   display: block;
   transition: all .5s;
}
/* Footer ---------------------------*/
#newsletter{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.footer-link{
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-decoration: transparent;
    
}
@media screen and (min-width: 600px) {
    #footer-links{
        margin-left: 30px;
     }
    
}
@media screen and (max-width: 992px) {
    #footer-links{
       text-align: center; 
    }
    #logo{
        text-align: center;
    }
}
.reserved{
    border-top: 1px solid white;
}
#policy{
    float:left;
    text-align: left;
}
#soulrights{
    float: right;
    text-align: right;
}