body {
	font-family: 'Segoe UI';
	font-size: 14px;
	background-color: #F1F5F8;
	overflow-x: hidden;
}

/* CUSTOM SCROLLER */
/* Width */
.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: rgb(125, 125, 125);
	opacity: 0.75;
	border-radius: 10px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgb(100, 100, 100);
	opacity: 0.5;
}
/* CUSTOM SCROLLER END */

/* サイドバースタート */
.sidebar {
	/*transition: 0.125s;*/
	background-color: #1F1F1F;
	width: 16.666667%;
	height: 100vh;
}

.sidebar.active {
	left: -16.666667%;
	width: 16.666667%;
	height: 100vh;
	position: absolute;
}

.sidebar .sidebar-item {
	cursor: pointer;
	transition: 0.0625s;
	border-radius: 4px;
	padding: 0.25rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	text-decoration: none!important;
	color: #707070!important;
}

.sidebar .sidebar-item:hover, .sidebar .sidebar-item.active {
	background-color: #FFFFFF;
}
/* サイドバーエンドー */

/* SWITCH SIZE START */
.custom-switch.custom-switch-md .custom-control-label {
	padding-left: 2rem;
	padding-bottom: 1.5rem;
}

.custom-switch.custom-switch-md .custom-control-label::before {
	height: 1.5rem;
	width: calc(2rem + 0.75rem);
	border-radius: 3rem;
}

.custom-switch.custom-switch-md .custom-control-label::after {
	width: calc(1.5rem - 4px);
	height: calc(1.5rem - 4px);
	border-radius: calc(2rem - (1.5rem / 2));
}

.custom-switch.custom-switch-md .custom-control-input:checked ~ .custom-control-label::after {
	transform: translateX(calc(1.5rem - 0.25rem));
}
/* SWITCH SIZE END */

/* STEP PROGRESS START */
.step-progress {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.step-progress > .component {
	width: 82.5%;
	display: flex;
	flex-direction: column;
}

.step-progress > .component > .bar {		/*BAR*/
	width: 100%;
	display: flex;
	flex-direction: row;
}

.step-progress > .component > .bar > .bar-progress {
	border-color: #28AD00;
	border-width: 0.5rem;
	margin-left: 0.25rem;
}

.step-progress > .component > .bar > .bar-remaining {
	border-color: #707070;
	border-width: 0.5rem;
	margin-right: 0.25rem;
}

.step-progress > .component > .steps {	/*STEPS*/
	position: absolute;
	display: flex;
	flex-direction: row;
}

.step-progress > .component > .steps > .step-icon {
	display: flex;
	flex-direction: column;
	color: #707070;
}

.step-progress > .component > .steps > .step-icon.active {
	color: #28AD00;
}

.step-icon.cancelled {
	color: #DC3545;
}

.step-progress > .labels {	/*LABELS*/
	width:  100%;
	display: flex;
	flex-direction: row;
}

.step-progress > .labels > .step-label {
	text-align: center;
}
/* STEP PROGRESS END */

.hover-enlarge {
	transition: 0.5s;
}

.hover-enlarge:hover, .hover-enlarge:active {
	transform: scale(1.03125);
	filter: drop-shadow(0 0 white 5px);
}

.color-custom * {
	color: #ffc107!important;
}

.social-link-side * {
	color: #919191;
}

.important:after {
	content: " *";
	color: red;
}

.bg-custom {
	background-color: #707070;
}

.all-text-dark * {
	color: #212529;
}

.text-custom {
	color: #707070;
}

.border-color-custom {
	border-color: #707070;
}

.custom-link {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 14px;
	padding: 1rem 0.75rem !important;
}

.summary-card {
	background-color: #FFFFFF;
	border-color: #707070!important;
	border-width: 0.125rem!important;
}

.circular-border {
	border-radius: 25px !important;
}

.circle-border {
	border-radius: 50%!important;
}

.footer a, .footer {
	color: #a3a3a3;
}

.display-block, .d-block {
	display: block;
}

.display-inline-block, .d-inline-block {
	display: inline-block;
}

.text-custom-overrideable {
	color: #707070;
}

.text-custom {
	color: #707070!important;
}

.hr-thick {
	border-width: 2.5px!important;
	border-top-width: 2.5px!important;
}

.hr-thick-50 {
	border-width: 1.25px!important;
	border-top-width: 1.25px!important;
}

.hr-width-150 hr {
	border-width: 1.5px;
}

.announcement-img~ .card-title {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.text-truncate-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	max-width: fit-content;
}

.text-truncate-3 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	max-width: fit-content;
}

.text-truncate-4 {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	max-width: fit-content;
}

.text-truncate-5 {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	max-width: fit-content;
}

.text-truncate-6 {
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
	max-width: fit-content;
}

.pr-6, .px-6, .p-6 {
	padding-right: 6rem!important;
}

.pl-6, .px-6, .p-6 {
	padding-left: 6rem!important;
}

.pr-7, .px-7, .p-7 {
	padding-right: 9rem!important;
}

.pl-7, .px-7, .p-7 {
	padding-left: 9rem!important;
}

.mr-6, .mx-6, .m-6 {
	margin-right: 6rem!important;
}

.ml-6, .mx-6, .m-6 {
	margin-left: 6rem!important;
}

.mt-6, .my-6, .m-6 {
	margin-top: 6rem!important;
}

.mb-6, .my-6, .m-6 {
	margin-bottom: 6rem!important;
}

.mr-7, .mx-7, .m-7 {
	margin-right: 9rem!important;
}

.ml-7, .mx-7, .m-7 {
	margin-left: 9rem!important;
}

.mt-7, .my-7, .m-7 {
	margin-top: 9rem!important;
}

.mb-7, .my-7, .m-7 {
	margin-bottom: 9rem!important;
}

.dark-shadow {
	box-shadow: 0px 3px 10px #00000080;
}

.dropdown-item {
	transition: 0.0625s;
}

.border-gray {
	border-color: #707070!important;
}

.border-transparent {
	border-color:  rgba(0, 0, 0, 0)!important;
}

.border-thick {
	border-width: 2.5px!important;
}

.view-more, .view-more:hover {
	color: #35408F;
	border-bottom-style: solid;
	border-bottom-color: #35408F;
}

.dynamic-size-h6 {
	font-size: 1.25vw;
}

.dynamic-size-h3 {
	font-size: 2.625vw;
}

.dynamic-size-h1 {
	font-size: 3vw;
}

.striped > .row:nth-child(odd) {
	background-color: #FFF;
}

.striped > .row:nth-child(even) {
	background-color: #F6F6F6;
}

.invisiborder.rounded {
	border-radius: 5px!important;
}

.text-overflow-ellipsis {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-x-scroll {
	overflow-x: scroll;
}

.overflow-x-auto {
	overflow-x: auto;
}

.overflow-x-hidden, .overflox-x-none {
	overflow-x: hidden;
}

.overflow-y-scroll {
	overflow-y: scroll;
}

.overflow-y-auto {
	overflow-y: auto;
}

.overflow-y-hidden, .overflow-y-none {
	overflow-y: hidden;
}

.hidden-overridable {
	display: none;
}

.hidden, .d-none {
	display: none!important;
}

.d-initial: {
	display: initial!important;
}

.d-revert {
	display: revert!important;
}

.d-block {
	display: block!important;
}

.cursor-pointer {
	cursor: pointer!important;
}

.cursor-default {
	cursor: default!important;
}

.flex-d-col {
	flex-direction: column;
}

.flex-d-inv-col {
	flex-direction: column-reverse;
}

.flex-d-row {
	flex-direction: row;
}

.flex-d-inv-row {
	flex-direction: row-reverse;
}

textarea.not-resizable {
	resize: none;
}

.row-spacing-1 > .row {
	margin-top: .25rem;
	margin-bottom: .25rem;
}

.row-spacing-2 > .row {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.row-spacing-3 > .row {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.row-spacing-4 > .row:first-child {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.row-spacing-4 > .row:last-child {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.row-spacing-4 > .row {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.row-spacing-5 > .row:first-child {
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.row-spacing-5 > .row:last-child {
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.row-spacing-5 > .row {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

/* FOR FLEX DIRECTION COL */
.flex-d-spacing-1.flex-d-col > div, .flex-d-spacing-1.flex-d-inv-col > div {
	margin-top: .25rem;
	margin-bottom: .25rem;
}
.flex-d-spacing-2.flex-d-col > div, .flex-d-spacing-2.flex-d-inv-col > div {
	margin-top: .5rem;
	margin-bottom: .5rem;
}
.flex-d-spacing-3.flex-d-col > div, .flex-d-spacing-3.flex-d-inv-col > div {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.flex-d-spacing-4.flex-d-col > div, .flex-d-spacing-4.flex-d-inv-col > div:first-child {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}
.flex-d-spacing-4.flex-d-col > div, .flex-d-spacing-4.flex-d-inv-col > div:last-child {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}
.flex-d-spacing-4.flex-d-col > div, .flex-d-spacing-4.flex-d-inv-col > div {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.flex-d-spacing-5.flex-d-col > div, .flex-d-spacing-5.flex-d-inv-col > div:first-child {
	margin-top: 1rem;
	margin-bottom: 3rem;
}
.flex-d-spacing-5.flex-d-col > div, .flex-d-spacing-5.flex-d-inv-col > div:last-child {
	margin-top: 3rem;
	margin-bottom: 1rem;
}
.flex-d-spacing-5.flex-d-col > div, .flex-d-spacing-5.flex-d-inv-col > div {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
/* FOR FLEX DIRECTION ROW */
.flex-d-spacing-1.flex-d-row > div, .flex-d-spacing-1.flex-d-inv-row > div {
	margin-left: .25rem;
	margin-right: .25rem;
}
.flex-d-spacing-2.flex-d-row > div, .flex-d-spacing-2.flex-d-inv-row > div {
	margin-left: .5rem;
	margin-right: .5rem;
}
.flex-d-spacing-3.flex-d-row > div, .flex-d-spacing-3.flex-d-inv-row > div {
	margin-left: 1rem;
	margin-right: 1rem;
}
.flex-d-spacing-4.flex-d-row > div, .flex-d-spacing-4.flex-d-inv-row > div:first-child {
	margin-left: 1rem;
	margin-right: 1.5rem;
}
.flex-d-spacing-4.flex-d-row > div, .flex-d-spacing-4.flex-d-inv-row > div:last-child {
	margin-left: 1.5rem;
	margin-right: 1rem;
}
.flex-d-spacing-4.flex-d-row > div, .flex-d-spacing-4.flex-d-inv-row > div {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}
.flex-d-spacing-5.flex-d-row > div, .flex-d-spacing-5.flex-d-inv-row > div:first-child {
	margin-left: 1rem;
	margin-right: 3rem;
}
.flex-d-spacing-5.flex-d-row > div, .flex-d-spacing-5.flex-d-inv-row > div:last-child {
	margin-left: 3rem;
	margin-right: 1rem;
}
.flex-d-spacing-5.flex-d-row > div, .flex-d-spacing-5.flex-d-inv-row > div {
	margin-left: 3rem;
	margin-right: 3rem;
}

.position-relative {
	position: relative;
}

.underline-at-hover:hover {
	text-decoration: underline!important;
}

.validation-message {
	overflow-wrap: break-word;
	overflow: hidden;
	white-space: break-spaces;
}

.br-0 {
	border-radius: 0;
}

/* SM breakpoint */
@media (min-width: 576px) {
	.mx-sm-1, .ml-sm-1, .m-sm-1 {
		margin-left: 0.25rem;
	}
	.mx-sm-1, .mr-sm-1, .m-sm-1 {
		margin-right: 0.25rem;
	}
	.mx-sm-2, .ml-sm-2, .m-sm-2 {
		margin-left: 0.5rem;
	}
	.mx-sm-2, .mr-sm-2, .m-sm-2 {
		margin-right: 0.5rem;
	}
	.mx-sm-3, .ml-sm-3, .m-sm-3 {
		margin-left: 1rem;
	}
	.mx-sm-3, .mr-sm-3, .m-sm-3 {
		margin-right: 1rem;
	}
	.mx-sm-4, .ml-sm-4, .m-sm-4 {
		margin-left: 1.5rem;
	}
	.mx-sm-4, .mr-sm-4, .m-sm-4 {
		margin-right: 1.5rem;
	}
	.mx-sm-5, .ml-sm-5, .m-sm-5 {
		margin-left: 3rem;
	}
	.mx-sm-5, .mr-sm-5, .m-sm-5 {
		margin-right: 3rem;
	}
	.mr-sm-6, .mx-sm-6, .m-sm-6 {
		margin-right: 6rem!important;
	}
	.ml-sm-6, .mx-sm-6, .m-sm-6 {
		margin-left: 6rem!important;
	}
	.mt-sm-6, .my-sm-6, .m-sm-6 {
		margin-top: 6rem!important;
	}
	.mb-sm-6, .my-sm-6, .m-sm-6 {
		margin-bottom: 6rem!important;
	}
	.mr-sm-7, .mx-sm-7, .m-sm-7 {
		margin-right: 9rem!important;
	}
	.ml-sm-7, .mx-sm-7, .m-sm-7 {
		margin-left: 9rem!important;
	}
	.mt-sm-7, .my-sm-7, .m-sm-7 {
		margin-top: 9rem!important;
	}
	.mb-sm-7, .my-sm-7, .m-sm-7 {
		margin-bottom: 9rem!important;
	}

	.pr-sm-6, .px-sm-6, .p-sm-6 {
		padding-right: 6rem!important;
	}
	.pl-sm-6, .px-sm-6, .p-sm-6 {
		padding-left: 6rem!important;
	}
	.pr-sm-7, .px-sm-7, .p-sm-7 {
		padding-right: 9rem!important;
	}
	.pl-sm-7, .px-sm-7, .p-sm-7 {
		padding-left: 9rem!important;
	}

	.d-sm-none {
		display: none!important;
	}

	.d-sm-initial: {
		display: initial!important;
	}

	.d-sm-block {
		display: block!important;
	}

	.d-sm-revert {
		display: revert!important;
	}

	.text-sm-left {
		text-align: left!important;
	}

	.text-sm-center {
		text-align: center!important;
	}

	.text-sm-right {
		text-align: right!important;
	}

	.text-sm-justify {
		text-align: justify!important;
	}

	.h1-sm {
		font-size: 2.5rem;
	}

	.h2-sm {
		font-size: 2rem;
	}

	.h3-sm {
		font-size: 1.75rem;
	}

	.h4-sm {
		font-size: 1.5rem;
	}

	.h5-sm {
		font-size: 1.25rem;
	}

	.h6-sm {
		font-size: 1rem;
	}

	.flex-d-sm-col {
		flex-direction: column;
	}

	.flex-d-inv-sm-col {
		flex-direction: column-reverse;
	}

	.flex-d-sm-row {
		flex-direction: row;
	}

	.flex-d-inv-sm-row {
		flex-direction: row-reverse;
	}

	.w-sm-100 { width: 100%!important; }
	.w-sm-75 { width: 75%!important; }
	.w-sm-50 { width: 50%!important; }
	.w-sm-25 { width: 25%!important; }

	.h-sm-100 { height: 100%!important; }
	.h-sm-75 { height: 75%!important; }
	.h-sm-50 { height: 50%!important; }
	.h-sm-25 { height: 25%!important; }
}

/* MD breakpoint*/
@media (min-width: 768px) {
	.mx-md-1, .ml-md-1, .m-md-1 {
		margin-left: 0.25rem;
	}
	.mx-md-1, .mr-md-1, .m-md-1 {
		margin-right: 0.25rem;
	}
	.mx-md-2, .ml-md-2, .m-md-2 {
		margin-left: 0.5rem;
	}
	.mx-md-2, .mr-md-2, .m-md-2 {
		margin-right: 0.5rem;
	}
	.mx-md-3, .ml-md-3, .m-md-3 {
		margin-left: 1rem;
	}
	.mx-md-3, .mr-md-3, .m-md-3 {
		margin-right: 1rem;
	}
	.mx-md-4, .ml-md-4, .m-md-4 {
		margin-left: 1.5rem;
	}
	.mx-md-4, .mr-md-4, .m-md-4 {
		margin-right: 1.5rem;
	}
	.mx-md-5, .ml-md-5, .m-md-5 {
		margin-left: 3rem;
	}
	.mx-md-5, .mr-md-5, .m-md-5 {
		margin-right: 3rem;
	}
	.mr-md-6, .mx-md-6, .m-md-6 {
		margin-right: 6rem!important;
	}
	.ml-md-6, .mx-md-6, .m-md-6 {
		margin-left: 6rem!important;
	}
	.mt-md-6, .my-md-6, .m-md-6 {
		margin-top: 6rem!important;
	}
	.mb-md-6, .my-md-6, .m-md-6 {
		margin-bottom: 6rem!important;
	}
	.mr-md-7, .mx-md-7, .m-md-7 {
		margin-right: 9rem!important;
	}
	.ml-md-7, .mx-md-7, .m-md-7 {
		margin-left: 9rem!important;
	}
	.mt-md-7, .my-md-7, .m-md-7 {
		margin-top: 9rem!important;
	}
	.mb-md-7, .my-md-7, .m-md-7 {
		margin-bottom: 9rem!important;
	}

	.pr-md-6, .px-md-6, .p-md-6 {
		padding-right: 6rem!important;
	}
	.pl-md-6, .px-md-6, .p-md-6 {
		padding-left: 6rem!important;
	}
	.pr-md-7, .px-md-7, .p-md-7 {
		padding-right: 9rem!important;
	}
	.pl-md-7, .px-md-7, .p-md-7 {
		padding-left: 9rem!important;
	}

	.d-md-none {
		display: none!important;
	}

	.d-md-initial: {
		display: initial!important;
	}

	.d-md-block {
		display: block!important;
	}

	.d-md-revert {
		display: revert!important;
	}

	.mt-md-4, .my-md-4 {
		margin-top: 1.5rem!important;
	}

	.mb-md-4, .my-md-4 {
		margin-bottom: 1.5rem!important;
	}

	.text-md-left {
		text-align: left!important;
	}

	.text-md-center {
		text-align: center!important;
	}

	.text-md-right {
		text-align: right!important;
	}

	.text-md-justify {
		text-align: justify!important;
	}

	.h1-md {
		font-size: 2.5rem;
	}

	.h2-md {
		font-size: 2rem;
	}

	.h3-md {
		font-size: 1.75rem;
	}

	.h4-md {
		font-size: 1.5rem;
	}

	.h5-md {
		font-size: 1.25rem;
	}

	.h6-md {
		font-size: 1rem;
	}

	.flex-d-md-col {
		flex-direction: column;
	}

	.flex-d-inv-md-col {
		flex-direction: column-reverse;
	}

	.flex-d-md-row {
		flex-direction: row;
	}

	.flex-d-inv-md-row {
		flex-direction: row-reverse;
	}

	.w-md-100 { width: 100%!important; }
	.w-md-75 { width: 75%!important; }
	.w-md-50 { width: 50%!important; }
	.w-md-25 { width: 25%!important; }

	.h-md-100 { height: 100%!important; }
	.h-md-75 { height: 75%!important; }
	.h-md-50 { height: 50%!important; }
	.h-md-25 { height: 25%!important; }
}

/* LG breakpoint */
@media (min-width: 992px) {
	.mx-lg-1, .ml-lg-1, .m-lg-1 {
		margin-left: 0.25rem;
	}
	.mx-lg-1, .mr-lg-1, .m-lg-1 {
		margin-right: 0.25rem;
	}
	.mx-lg-2, .ml-lg-2, .m-lg-2 {
		margin-left: 0.5rem;
	}
	.mx-lg-2, .mr-lg-2, .m-lg-2 {
		margin-right: 0.5rem;
	}
	.mx-lg-3, .ml-lg-3, .m-lg-3 {
		margin-left: 1rem;
	}
	.mx-lg-3, .mr-lg-3, .m-lg-3 {
		margin-right: 1rem;
	}
	.mx-lg-4, .ml-lg-4, .m-lg-4 {
		margin-left: 1.5rem;
	}
	.mx-lg-4, .mr-lg-4, .m-lg-4 {
		margin-right: 1.5rem;
	}
	.mx-lg-5, .ml-lg-5, .m-lg-5 {
		margin-left: 3rem;
	}
	.mx-lg-5, .mr-lg-5, .m-lg-5 {
		margin-right: 3rem;
	}
	.mr-lg-6, .mx-lg-6, .m-lg-6 {
		margin-right: 6rem;
	}
	.ml-lg-6, .mx-lg-6, .m-lg-6 {
		margin-left: 6rem;
	}
	.mt-lg-0, .my-lg-0, .m-lg-0 {
		margin-top: 0rem;
	}
	.mt-lg-1, .my-lg-1, .m-lg-1 {
		margin-top: 0.25rem;
	}
	.mt-lg-2, .my-lg-2, .m-lg-2 {
		margin-top: 0.5rem;
	}
	.mt-lg-3, .my-lg-3, .m-lg-3 {
		margin-top: 1rem;
	}
	.mt-lg-4, .my-lg-4, .m-lg-4 {
		margin-top: 1.5rem;
	}
	.mt-lg-5, .my-lg-5, .m-lg-5 {
		margin-top: 3rem;
	}
	.mt-lg-6, .my-lg-6, .m-lg-6 {
		margin-top: 6rem;
	}
	.mb-lg-0, .my-lg-0, .m-lg-0 {
		margin-bottom: 0rem;
	}
	.mb-lg-1, .my-lg-1, .m-lg-1 {
		margin-bottom: 0.25rem;
	}
	.mb-lg-2, .my-lg-2, .m-lg-2 {
		margin-bottom: 0.5rem;
	}
	.mb-lg-3, .my-lg-3, .m-lg-3 {
		margin-bottom: 1rem;
	}
	.mb-lg-4, .my-lg-4, .m-lg-4 {
		margin-bottom: 1.5rem;
	}
	.mb-lg-5, .my-lg-5, .m-lg-5 {
		margin-bottom: 3rem;
	}
	.mb-lg-6, .my-lg-6, .m-lg-6 {
		margin-bottom: 6rem;
	}
	.mr-lg-7, .mx-lg-7, .m-lg-7 {
		margin-right: 9rem;
	}
	.ml-lg-7, .mx-lg-7, .m-lg-7 {
		margin-left: 9rem;
	}
	.mt-lg-7, .my-lg-7, .m-lg-7 {
		margin-top: 9rem;
	}
	.mb-lg-7, .my-lg-7, .m-lg-7 {
		margin-bottom: 9rem;
	}

	.pr-lg-6, .px-lg-6, .p-lg-6 {
		padding-right: 6rem;
	}
	.pl-lg-6, .px-lg-6, .p-lg-6 {
		padding-left: 6rem;
	}
	.pr-lg-7, .px-lg-7, .p-lg-7 {
		padding-right: 9rem;
	}
	.pl-lg-7, .px-lg-7, .p-lg-7 {
		padding-left: 9rem;
	}

	.d-lg-none {
		display: none!important;
	}

	.d-lg-initial: {
		display: initial!important;
	}

	.d-lg-block {
		display: block!important;
	}

	.d-lg-revert {
		display: revert!important;
	}

	.text-lg-left {
		text-align: left!important;
	}

	.text-lg-center {
		text-align: center!important;
	}

	.text-lg-right {
		text-align: right!important;
	}

	.text-lg-justify {
		text-align: justify!important;
	}

	.h1-lg {
		font-size: 2.5rem;
	}

	.h2-lg {
		font-size: 2rem;
	}

	.h3-lg {
		font-size: 1.75rem;
	}

	.h4-lg {
		font-size: 1.5rem;
	}

	.h5-lg {
		font-size: 1.25rem;
	}

	.h6-lg {
		font-size: 1rem;
	}

	.dynamic-size-lg-h6 {
		font-size: 1.25vw!important;
	}
	
	.position.lg-relative {
		position: relative;
	}

	.position-lg-sticky {
		position: sticky;
	}

	.flex-d-lg-col {
		flex-direction: column;
	}

	.flex-d-inv-lg-col {
		flex-direction: column-reverse;
	}

	.flex-d-lg-row {
		flex-direction: row;
	}

	.flex-d-inv-lg-row {
		flex-direction: row-reverse;
	}

	.vertical-lg-card {
		max-height: 5rem;
		height: 5rem;
		min-height: 5rem;
	}

	.w-lg-100 { width: 100%!important; }
	.w-lg-75 { width: 75%!important; }
	.w-lg-50 { width: 50%!important; }
	.w-lg-25 { width: 25%!important; }

	.h-lg-100 { height: 100%!important; }
	.h-lg-75 { height: 75%!important; }
	.h-lg-50 { height: 50%!important; }
	.h-lg-25 { height: 25%!important; }
}
/* END BREAKPOINT RELATED CSS */