/* Font -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/* Global -------------------- */
body {
	background-image: linear-gradient(180deg, #262626, transparent, #262626), url("/images/banners/welcome/banner.png");
	background-size: cover;
	min-height: 100vh;
	min-width: 100vw;
}

h1 {
	font-weight: bold;
}

* {
	color:white;
	font-family: 'Inter', sans-serif;
}

/* Page Stylings -------------------- */
body > div.container-fluid {
	padding: 5rem;
}

.enlarge-2 {
	font-size: 2rem;
}

.enlarge-5 {
	font-size: 5rem;
}

.circular-border {
	border-radius: 5rem;
}

.custom-text {
	background-color: white;
	background-image: linear-gradient(45deg, #FF8000, #FFE600);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
}